/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* * {
    border: 1px solid red;
} */

:root {
    background: linear-gradient(to bottom, white, yellow);
}

body {
    font-family: Lexend Deca;
}

.note {
    font-family: Helvetica;
}